@import "utilidades/variables";








// ..........header..........

header {
  background-color: $verde-tremendo;
  padding: 10px;
  position: relative;
  nav {
    
    ul {
      font-family: "Hubballi", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2em;

      li {
        color: $blanquito;

        a {
          text-decoration: none;
          color: $blanquito;
        }
      }
    }
  }
}
.menu {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      margin: 0 10px;

      a {
        text-decoration: none;
        color: $blanquito;

        &:hover {
          color: $gris-clarito;
        }
      }
    }
  }
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: $blanquito;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.isotipo{
  
  width:85%;
  display: block;
  
   
}
.logotipo {
  font-size: 4rem ;
  color: $blanquito;
  font-family: "Sour Gummy", sans-serif;

  font-weight:600;
  font-style: normal;

  text-shadow: 3px 3px 1px $gris;

}
.form-control{
  box-shadow: 3px 3px 1px $gris; /* Sombra suave */
  border: 1px solid $gris-clarito; /* Opcional: define un borde */
  padding: 0.5rem; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  transition: box-shadow 0.3s ease-in-out; /* Transición suave */
}


.form-control:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa al enfocar */
  outline: none; /* Elimina el borde azul predeterminado */
}







// .......... main ..........
.carousel-indicators {
  list-style: none; /* Elimina los números de la lista */
  padding: 0; /* Elimina el espacio adicional */
  margin: 0; /* Ajusta el margen */
}
.tarjeta-producto {
  background-color: $blanquito;
  text-align: center;
  div {
    div {
      a {
        text-decoration: none;
        color: gray;
        font-size: medium;

        text-align: center;
      }
      p {
        .antes {
          color: $gris-clarito;
          text-decoration: line-through;
          font-size: large;
        }

        color: $verde-tremendo;
        font-size: xx-large;
        text-align: center;
      }
    }
  }
  img {
    height: auto;
    width: max-content;
    border-radius: 10px;
  }

  h3 {
    color: $gris-oscuro;
    font-size: large;
    text-align: center;
  }

  p {
    color: $gris-oscuro;
    font-size: medium;
    text-align: center;
    margin-bottom: 10px;
  }
}



.tarjeta-producto:hover {
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: all 0.4s ease-in-out;
}




.prod-grande {
  padding: 5px;
  
  img {
    height: auto;
    width: 95%;
    text-align: center;
    border-radius: 10px;
  }
}
.prod-miniatura {
  @extend .prod-grande;
  justify-content: space-between;
  margin: 0;
  img {
  width: 95%;
    height: auto;
    border-radius: 5px;
  }
}
.descripcion {
  
  padding: 5px;
  color: $gris-clarito;
  h2{
    color: $verde-tremendo;
        font-size: 3em;
        text-align: left;
        text-shadow: 1px 1px 1px $gris-clarito;

  }
}

.clientes {
  padding-left: 2px;
  padding-right: 2px;
}
.titulo {
  font-size: 3em;
  color: $blanquito;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin-top: 10px;
  margin-left: 20px;
}
.filtros {
  text-align: right;
  color: $gris-oscuro;
  font-weight: lighter;
}
h3 {
  color: $gris-clarito;
  font-size: x-large;
 
  
}
h4 {
  color: $gris-oscuro;
  font-size: large;
}
h5 {
  color: $gris-oscuro;
  font-size: medium;
}
h6 {
  color: $gris-oscuro;
  font-size: small;
}
h3 {
  color: $gris-oscuro;
  font-size: large;
}

// .......... footer .........

footer {
  background-color: hsl(165, 94%, 31%);
  padding: 1rem;
  bottom: 0;
  width: 100%;
  text-align: center;

  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;

      li {
        margin: 0.5rem;

        a {
          text-decoration: none;
          color: $blanquito;

          &:hover {
            color: $gris-clarito;
          }
        }
      }
    }
  }
}

// Media queries
@media (max-width: 576px) {
  header {
    display: flex; /* Flexbox para organizar los elementos */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espaciado uniforme */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
    padding: 0 1rem; /* Espaciado lateral */

    .isotipo{
      max-width: 50px;
      flex-shrink: 0;

    }
    .logotipo {
      font-size: 2rem; /* Ajusta el tamaño del logotipo */
      text-align: center;
      flex-grow: 1; /* Permite que el logotipo ocupe el espacio disponible */
      margin: 0 1rem; /* Espaciado lateral para evitar que toque otros elementos */
   }
    .menu {
      display: none; /* Oculta el menú por defecto */
      flex-direction: column;
      align-items: center;
      background-color: $verde-tremendo;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1000;

      ul {
        flex-direction: column;

        li {
          margin: 10px 0;
        }
      }
    }

    .menu-toggle {
      display: block; /* Muestra el botón hamburguesa */
      font-size: 1.8rem; /* Ajusta el tamaño del ícono */
      flex-shrink: 0; /* Evita que el botón se reduzca demasiado */
    }

    .menu.active {
      display: flex; /* Muestra el menú cuando está activo */
    }
  }
  .tarjeta-producto {
    height: 30vh;
    margin-bottom: 1rem;

    .card {
      text-align: center;
    }
  }

  .filtros {
    margin-top: 2rem;
    text-align: center;

    h2,
    h4 {
      font-size: 1rem;
    }

    input {
      margin: 0.5rem 0;
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  header {
    .logotipo {
      font-size: 2rem;
    }
    .menu {
      display: none; /* Oculta el menú por defecto */
      flex-direction: column;
      align-items: center;
      background-color: $verde-tremendo;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1000;

      ul {
        flex-direction: column;

        li {
          margin: 10px 0;
        }
      }
    }

    .menu-toggle {
      display: block; /* Muestra el botón hamburguesa */
    }

    .menu.active {
      display: flex; /* Muestra el menú cuando está activo */
    }
  }
  .tarjeta-producto {
    height: 55vh;
    margin-bottom: 1.5rem;
  }

  
}
  .filtros {
    margin-top: 3rem;

    h2 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1rem;
    }
  }
  footer {
    padding: 2rem;
    nav ul {
      justify-content: space-between;
    }
  }



@media (min-width: 769px) {
  .tarjeta-producto {
    height: 65vh;
    margin-bottom: 2rem;
  }
  .filtros {
    margin-top: 5rem;

    h2 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.2rem;
    }
  }
  footer {
    padding: 3rem;
    nav ul {
      justify-content: space-around;
    }
  }
}
